[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyyaml = "*"
click = "*"
pygithub = "*"
dacite = "*"
tfr = {editable = true,path = "."}

[dev-packages]
tfr = {editable = true,path = "."}
ipython = "*"
ipdb = "*"
pytest = "*"

[requires]
python_version = "3.8"
