[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyyaml = "*"
click = "*"
pygithub = "*"
dacite = "*"
tfr = {editable = true,path = "."}
gitpython = "*"

[dev-packages]
tfr = {editable = true,path = "."}
ipython = "*"
ipdb = "*"
pytest = "*"
mypy = "*"

# [requires]
# No support for minimum specifier?
# python_version = "3.8"
