[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tfr = {editable = true,path = "."}

[packages]
pygithub = "*"
click = "*"
pyhamcrest = "*"
pyyaml = "*"
cerberus = "*"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.7"
